<div class="d-flex justify-content-around mt-3">
  <button class="btn" href="#" role="button">
    <%= image_tag "home.png", class: "home-icon" %>
  </button>
  <button class="btn" type="submit">
    <%= image_tag "post.png", class:"post-icon" %>
  </button>
  <button class="btn" href="#" role="button">
    <%= image_tag "search.png", class:"search-icon" %>
  </button>
  <button class="btn" href="#" role="button">
    <%= image_tag "design.png", class:"design-icon" %>
  </button>
</div>