
<div class="d-flex justify-content-end mt-2">
  <%# if ユーザー状況で分岐 %>
    <div>
      <%= link_to 'ログイン'%>
    </div>
    <div class="ms-1">
      <%= link_to '新規登録'%>
    </div>
</div>
<div class="container d-flex align-items-center flex-column bd-highlight mb-3 justify-content-center">
  <img class="img-fluid rounded" src="https://picsum.photos/100/100">
  <div class="prof-name mb-auto p-2 bd-highlight">
    <div>Tom</div>
  </div>
    <div class="prof-content p-2 bd-highlight">
  <div>Tomは175cmです</div>
  </div>
  <div class="write-prof p-2 bd-highligh">
    <button type="button" class="btn btn-secondary">プロフィールを編集する</button>
  </div>
</div>




