<div class="wrapper">
  <div class="head-side">
  <%= render "head-side" %>
  </div>
  <div class="body-side">
  <%= render "body-side" %>
  </div>
  <div class="foot-side">
  <%= render "foot-side"%>
  </div>
</div>